@use './colors.scss' as c;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: c.$body-bgc;
}

button {
    border: none;
}
input {
    border: 1px solid c.$input-borderc;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: #7e7e7e12;
    opacity: .5;
}

*::-webkit-scrollbar-thumb {
    background: #00000080;
    opacity: .5;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
