<nav>
    <fa-icon (click)="onClick()" [icon]="faBars" id="menuB"></fa-icon>
    <div>
        <div id="pageLinks">
            <a routerLink="./">Startseite</a>
            <a routerLink="./search">Suchen</a>
        </div>
        <div id="userBox">
            <div id="popUpBox" style="display: none;">
                <p *ngIf="user">User:{{user.username}}</p>
                <a routerLink="/">Anmelden</a>
                <a routerLink="/">Einstellung</a>
            </div>
            <fa-icon [icon]="faCircleUser" id="profile"></fa-icon>
        </div>
    </div>
</nav>