@use '../../../colors.scss' as c;

body {
    padding: .5rem;
    background-color: c.$body-bgc;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    justify-content: center;
}

form * {
    height: 40px;
}

input {
    background-color: c.$search-input-bgc;
    color: c.$menu-textc;
    width: calc(200px + 10vw);
    padding: 5px;
}

button {
    background-color: c.$search-button-bgc;
    width: 50px;
    margin-left: -2px;
}