@use '../../../colors.scss' as c;

section {
    margin-bottom: 3vh;
}

section:hover *::-webkit-scrollbar-thumb {
    background: #000000;
}

section:hover *::-webkit-scrollbar {
    background-color: #7e7e7e;
}

section > div {
    overflow-x: hidden;
}
section > div > div {
    display: grid;
    grid-auto-flow: column;
    overflow-x: auto;
}

h2 {
    color: c.$menu-textc;
    padding: .5rem 0;
}

#movieRowImgs > * {
    margin-right: 1.5vw;
}